---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="text-2xl font-bold mb-4">Qui sommes-nous ?</h2>
  <div class="col">
    <div class="row">
      <h3>Les membres du bureau et du conseil d'administration:</h3>
      <p>
        Le Conseil d'Administration et le bureau sont constitués de membres
        bénévoles actifs et de retraités du secteur médical, paramédical et
        privé.
        <br />
        Présidente : Faustine DOLBEAU
        <br />
        Vice-présidente : Coralie THUREAU
        <br />
        Trésorière : Annie WILLERVAL
        <br />
        Trésorière-adjointe : Évelyne DESMARES
        <br />
        Secrétaire : Françoise FLEURANCE
        <br />
        Secrétaire-adjointe : Patricia GUILBERT
        <br />
        Membres actifs : Carole PAPIN, Céline FLEURANCE (absente sur la photo) et
        Sylvia PIVRON.
      </p>
      <img src="/membres.jpg" alt="Membres du bureau" />
    </div>
    <div class="row">
      <h3>Notre Animateur :</h3>
      <p>
        J'ai obtenu la certification d'animateur en gérontologie en juin 2014.
        Formation suivie à la MFR La Saillerie à Angers, en alternance avec un
        stage à la Résidence Anne de Melun de Baugé en Anjou.
        <br />
        Le rôle d'animateur : consiste à proposer, élaborer, coordonner et réaliser
        des activités adaptés aux besoin du public accueilli.
        <br />
        Les objectifs des séances sont : maintenir les liens sociaux, les capacités
        intellectuelles et physiques tant que possible, et renforcer l'estime de
        soi. Ceci afin de permettre aux personnes accueillies d'avoir encore des
        objectifs et leur montrer qu'elles ont encore leur place dans la société.
        <br />
        Je définis les caractéristiques de l'animateur/trice comme telles : le sourire,
        le dynamisme, l'authenticité, l'empathie, le bienveillance, la curiosité,
        la polyvalence, la créativité et la persévérance.
        <br />
        Avec peu de moyen, l'animateur peut apporter beaucoup d'accompagnement aux
        accueillis.
      </p>
      <img src="/animateur.jpg" alt="Animateur" />
    </div>
    <div class="row">
      <h3>Nos bénévoles :</h3>
      <p>
        Parce qu'ils ont une grande empathie pour les personnes âgées, des
        bénévoles ont choisi de rejoindre notre association. Ce groupe ne cesse
        de croître. Ils sont indispensables au bon déroulement des après-midis.
        Ils offrent du temps et leurs compétences et participent, avec
        l'animateur aux voiturages des personnes.
        <br />
        Lors des séances, ils peuvent soutenir l'accueilli afin de faciliter son
        intégration au groupe et lui venir en aide si nécessaire lors des activités.
        D'où l'importance d'une mise en confiance quotidienne et renforcer l'estime
        de soi. Les bénévoles assurent, avec l'animateur, la mise en place des espaces
        d'accueil et préparent aussi le goûter. Ils ont également un rôle d'écoute
        et le cas échéant, ils sont en lien avec l'animateur pour assurer la sérénité
        des accueillis.
        <hr />
        Dix bénévoles ont suivi une formation à la relation d'aide dispensée par
        une psychologue spécialisée en gérontologie.
        <br />
        Témoignages des bénévoles : Françoise, Patricia H. , Patricia G., Evelyne
        D., Evelyne V., Monique, Nadine R., Dany, Céline B.
        <br />
        « Cette formation nous a appris à faire un travail sur nous-mêmes pour mieux
        comprendre les autres et d'agir pertinemment face à certaines situations
        ».
        <hr />
        « Cette formation a été très bénéfique avec le recul dans sa globalité ».
        <br />
        « Cette formation m'a apportée une meilleure écoute auprès des accueillis
        en renforçant la bienveillance afin d'établir une bonne relation avec les
        autres. Cette formation est bénéfique pour la relation d'aide aussi bien
        pour le bénévolat que personnellement ».
        <hr />
        « Cette formation m'a apportée une façon de s'exprimer et d'écouter nos accueillis
        avec beaucoup de bienveillance. On ne peut pas quitter cette formation sans
        avoir appris et retenue les conseils de la formatrice ».
        <hr />
        « Cette formation m'a appris à adapter les paroles de réconfort à tenir devant
        telle ou telle situation ».
        <hr />
        « Ces jours de formation nous ont permis de mieux comprendre le vieillissement
        et de passer des moments très agréables avec des personnes de tout âge ».
        <hr />
        « Super formation qui rajoute une dimension supplémentaire à mon rôle de
        bénévole, je me sens plus légitime avec une meilleure écoute, encore plus
        attentive, des discours et une posture plus adaptée et une juste distance.
        C'est une formation qui bouscule les croyances et nous fait faire un grand
        travail sur les émotions. Ces deux jours de formation nous ont soudés aussi
        entre bénévoles ».
      </p>
      <hr>
      <br>
      <img src="benevoles.jpg" alt="Bénévoles" />
      <p style="font-weight: bold;">
        Claude, Françoise, Évelyne D., Patricia G., Dany, Monique, Annie,
        Faustine, Carole, Nadine R., Céline B., Marie-Christine, Patricia H.,
        Bénédicte et Nadine A.
        <br />
        (Évelyne V. et Céline F. absentes sur la photo).
      </p>
      <p>
        <b> Le bénévolat vous attire ? </b>
        <br />
        <b>Vous êtes sensibles</b> aux valeurs de notre association,
        <br />
        <b>Vous souhaitez aider</b> les autres,
        <br />
        <b>Vous avez la fibre</b> pour accompagner les personnes âgées,
        <br />
        <b>Vous voulez maintenir du lien social</b>, « Quand on donne, on reçoit... »,
        <br />
        <b>Vous disposez de temps</b> libre,
        <br />
        <font size="6px"><b>Rejoignez-nous comme bénévole</b></font>  (adhésion de 15€ par an).
      </p>
    </div>
  </div>
</Layout>
