---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2 class="text-2xl font-bold mb-4">Contact</h2>
  <p>Email : <a href="mailto:abordage.sudsarthe@gmail.com" class="text-blue-600 underline">abordage.sudsarthe@gmail.com</a></p>
  <p>Téléphone : 07 83 59 18 54</p>
  <p>Adresse : 5 rue des Écoles, 72800 Aubigné-Racan</p>
</Layout>
