---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="text-2xl font-bold mb-4">NOS SERVICES</h2>
  <div class="col">
    <div class="row">
      <h3>Voiturage :</h3>
      <p>
        Pour les personnes qui ne peuvent pas se rendre sur le lieu des
        activités par leurs propres moyens, nous proposons de les véhiculer à
        moindre coût. (0,10€/km à compter de 3 kms du pôle d'accueil), soit avec
        le minibus de l'association ou les voitures des bénévoles.
      </p>
      <img src="/vehicule_assos.jpg" alt="Véhicule de l'association" />
      <p>Pour tout renseignement, vous pouvez contacter l'association au 07 83 59 18 54</p>
    </div>
  </div>
</Layout>
