---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="text-2xl font-bold mb-4">TEMOIGNAGES</h2>
  <div class="col">
    <div class="row">
      <p>
        Certains proches et accueillis souhaitent nous faire part de leur
        expérience avec Abord'Age SudSarthe :
        <br />
        J'ai découvert Abord'Age Sud-Sarthe en accompagnant ma mère, atteinte d'Alzheimer.
        Ma mère y va une fois par semaine depuis 2 mois à Aubigné-Racan, c'est en
        l'accompagnant que j'ai découvert votre association.
        <br />
        J'ai pris un très grand plaisir à découvrir Laurent, l'animateur, qui réussit
        à capter l'attention des personnes âgées et les faire participer aux divers
        ateliers. Chaque personne avec son handicap essaie pour le mieux de participer.
        <br />
        Merci à cet organisateur qui retarde l'inévitable. <br />
        Merci pour sa patience, son professionnalisme et sa gentillesse. <br />
        Pascaline Damiens (fille de Paulette Damiens à Aubigné-Racan)
        <br />
        <hr />
        <br />
        Sous l'impulsion de Laurent, Abord'Âge Sud-Sarthe est devenu une grande famille.
        <br />
        Les impressions d'un accueilli après 15 mois de participation au groupe d'Aubigné-Racan.
        <br />
        <b>Bilan très positif !</b>
        <br />
        J'ai réappris à sortir de gaieté de cœur malgré la maladie : « quand je suis
        avec mes amis accueillis, j'oublie (ou presque) mon Parkinson ! ».
        <br />
        C'est avec joie que je voie arriver les vendredis après-midis. Ça commence
        par du « papotage » avec Bernard et Laurent pendant le trajet Mayet- Aubigné-Racan.
        Ces échanges permettent « le tour de chauffe ! ».
        <br />
        Mon intégration dans le groupe a été très facile, merci à tout le monde !
        <br />
        Les activités proposées par Laurent sont diverses et variées, bien adaptées.
        « Il y a bien longtemps que je n'avais pas joué à la belote par exemple !
        ». Les sorties sont très appréciées, l'achat du minibus est une aubaine.
        Personnellement, j'ai recherché des idées de sorties que j'ai soumis à Laurent,
        ça m'oblige à faire travailler mes neurones qui en ont bien besoin.
        <br />
        La fin de l'année a été formidable ! D'abord le concert à l'église de Mayet
        (chapeau !!! « Chapeau »).
        <br />
        Puis la fête de fin d'année qui fût la « cerise sur le gâteau » avec ce super
        déjeuner spectacle bien rafraîchissant.
        <br />
        Régis, Mayetais accueilli à Aubigné-Racan
      </p>
    </div>
  </div>
</Layout>
